@import "config";
@import "todo-header";
@import "todo-section";

* {
 box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 font-family: 'Josefin Sans', sans-serif;
 background: $Very-Dark-Blue;
 transition: all .4s ease-in-out;
}

.body-light {
 background: $Very-Light-Gray;
}